*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #AEFFD1;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.pusheen-img {
    width: 200px;
    padding-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

h2 {
    font-size: 1.1em;
}

.Or {
    font-family: 'Fredoka One', cursive;
    color: black;
    padding: 10px;
}

.add-cat {
    display: inline-block;
    border-radius: 3px;
    background-color: black;
    border: none;
    font-family: 'Fredoka One';
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 12px;
    width: 230px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.add-cat span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.add-cat span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.6s;
}

.add-cat:hover span {
    padding-right: 25px;
}

.add-cat:hover span:after {
    opacity: 1;
    right: 0;
}

.cats {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.random-cats-img {
    max-width: 100%;
    border-radius: 5px;
    padding: 10px 4px;
    margin: auto;
}

.cat-breeds {
    font-family: 'Fredoka One', cursive;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 8px;
    width: 180px;
}


/* Loading spinner */

@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}

.spinner {
    font-size: 50px;
    animation: 2s spin linear infinite;
    text-align: center;
    margin: auto;
    display: none;
}

.cats {
    display: none;
}

.show {
    display: block;
}

.breed-card {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: black;
    transition: 0.3s;
}

.card {
    border: 3px;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 20px;
    margin: 40px;
}

h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    ;
}

.title {
    font-family: 'Fredoka One', cursive;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    border-radius: 3px;
    background-color: black;
    border: none;
    font-family: 'Fredoka One';
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 12px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.6s;
}

.btn span:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.6s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.cat-img {
    max-width: 600px;
    border-radius: 5px;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.footer {
    flex-shrink: 0;
    position: sticky;
    font-size: 0.7em;
    padding-top: 10px;
    padding-bottom: 5px;
}

@media screen and (max-width: 350px) {
    .cat-img {
        max-width: 120px;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .cat-img {
        max-width: 150px;
        height: auto;
    }
}

@media screen and (max-width: 430px) {
    .cat-img {
        max-width: 170px;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .cat-img {
        max-width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .cat-img {
        max-width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .cat-img {
        max-width: 300px;
        height: auto;
    }
}